In [2]:
# Generate notebook download link
from IPython.display import FileLink
print('To download this notebook, right click on the link and Save link as...')
FileLink('tutorial_merge.ipynb')

To download this notebook, right click on the link and Save link as...

X:\btcache\scratch\johnsonc\jupyter\Tutorial\Tutorial_GitLab\tutorial_merge.ipynb

In [3]:
import riptable as rt
import numpy as np

In [4]:
# Display all Dataset columns -- the default max is 9.
rt.Display.options.COL_ALL = True

# Render up to 100MM before showing in scientific notation.
rt.Display.options.E_MAX = 100_000_000

# Truncate small decimals, rather than showing infinitesimal scientific notation.
rt.Display.options.P_THRESHOLD = 0

# Put commas in numbers.
rt.Display.options.NUMBER_SEPARATOR = True

# Turn on Riptable autocomplete (start typing, then press Tab to see options).
rt.autocomplete()

# Merge Datasets

Merging gives you more flexibility to bring data from different Datasets together.

A merge operation connects rows in Datasets using a "key" column that the Datasets have in common.

Riptable's two main Dataset merge functions are `merge_lookup()` and `merge_asof()`. Generally speaking, `merge_lookup()` aligns data based on identical keys, while `merge_asof()` aligns data based on the nearest key.

For more general merges, `merge2()` does datbase-style left, right, inner, and outer joins.

## `merge_lookup()`

Let's start with `merge_lookup()`. It's common to have one Dataset that has most of the information you need, and another, usually smaller Dataset that has information you want to add to the first Dataset to enrich it.

Here we'll create a larger Dataset with symbols and size values, and a smaller Dataset that has symbols associated with trader names. We'll use the shared Symbol column as the key to add the trader info to the larger Dataset.

In [5]:
rng = np.random.default_rng(seed=42)

N = 50

# Larger Dataset
ds = rt.Dataset({'Symbol': rng.choice(['GME', 'AMZN', 'TSLA', 'SPY'], N),
                 'Size': rng.integers(1, 1000, N),})

# Smaller Dataset, with data used to enrich the larger Dataset
ds_symbol_trader = rt.Dataset({'Symbol': ['GME', 'TSLA', 'SPY', 'AMZN'],
                           'Trader': ['Nate', 'Elon', 'Josh', 'Dan']})

In [6]:
ds.head()

 #   Symbol   Size
--   ------   ----
 0   GME       760
 1   SPY       195
 2   TSLA      364
 3   AMZN      467
 4   AMZN      498
 5   SPY        44
 6   GME       547
 7   TSLA      155
 8   GME       743
 9   GME       683
10   TSLA      922
11   SPY       745
12   TSLA      367
13   SPY       967
14   TSLA      411
15   SPY       326
16   TSLA      905
17   GME       371
18   SPY        77
19   AMZN      470

[20 rows x 2 columns] total bytes: 240.0 B

In [7]:
ds_symbol_trader

#,Symbol,Trader
0,GME,Nate
1,TSLA,Elon
2,SPY,Josh
3,AMZN,Dan

### `merge_lookup()` with Key Columns That Have the Same Name

Now we'll use `merge_lookup()` to add the trader information to the larger Dataset. `merge_lookup()` will align the data based on exact matches in the shared Symbol column.

A note about terms: When you merge two Datasets, the Dataset you're merging data into is the *left Dataset*; the one you're getting data from is the *right Dataset*. 

Here, we call `merge_lookup()` on our left Dataset, `ds`. We pass it the name of the right Dataset, and tell it what column to use as the key.

In [8]:
ds.merge_lookup(ds_symbol_trader, on='Symbol')

#,Symbol,Size,Trader
0,GME,760,Nate
1,SPY,195,Josh
2,TSLA,364,Elon
3,AMZN,467,Dan
4,AMZN,498,Dan
5,SPY,44,Josh
6,GME,547,Nate
7,TSLA,155,Elon
8,GME,743,Nate
9,GME,683,Nate
10,TSLA,922,Elon
11,SPY,745,Josh
12,TSLA,367,Elon
13,SPY,967,Josh
14,TSLA,411,Elon
...,...,...,...
35,GME,700,Nate
36,SPY,98,Josh
37,SPY,313,Josh
38,AMZN,768,Dan
39,TSLA,832,Elon
40,GME,435,Nate
41,SPY,804,Josh
42,TSLA,841,Elon
43,AMZN,388,Dan
44,GME,898,Nate
45,SPY,289,Josh
46,AMZN,240,Dan
47,SPY,682,Josh
48,TSLA,637,Elon
49,SPY,140,Josh

The left Dataset now has the trader information, correctly aligned.

You can also use the following syntax, passing `merge_lookup()` the names of the left and right Datasets, along with the key:

In [9]:
rt.merge_lookup(ds, ds_symbol_trader, on='Symbol')

#,Symbol,Size,Trader
0,GME,760,Nate
1,SPY,195,Josh
2,TSLA,364,Elon
3,AMZN,467,Dan
4,AMZN,498,Dan
5,SPY,44,Josh
6,GME,547,Nate
7,TSLA,155,Elon
8,GME,743,Nate
9,GME,683,Nate
10,TSLA,922,Elon
11,SPY,745,Josh
12,TSLA,367,Elon
13,SPY,967,Josh
14,TSLA,411,Elon
...,...,...,...
35,GME,700,Nate
36,SPY,98,Josh
37,SPY,313,Josh
38,AMZN,768,Dan
39,TSLA,832,Elon
40,GME,435,Nate
41,SPY,804,Josh
42,TSLA,841,Elon
43,AMZN,388,Dan
44,GME,898,Nate
45,SPY,289,Josh
46,AMZN,240,Dan
47,SPY,682,Josh
48,TSLA,637,Elon
49,SPY,140,Josh

### `merge_lookup` with Key Columns That Have Different Names

If the key column has a different name in each Dataset, just specify each column name with `left_on` and `right_on`.

In [10]:
# For illustrative purposes, rename the key column in the right Dataset.
ds_symbol_trader.col_rename('Symbol', 'UnderlyingSymbol')

ds.merge_lookup(ds_symbol_trader, left_on='Symbol', right_on='UnderlyingSymbol')

#,Symbol,Size,UnderlyingSymbol,Trader
0,GME,760,GME,Nate
1,SPY,195,SPY,Josh
2,TSLA,364,TSLA,Elon
3,AMZN,467,AMZN,Dan
4,AMZN,498,AMZN,Dan
5,SPY,44,SPY,Josh
6,GME,547,GME,Nate
7,TSLA,155,TSLA,Elon
8,GME,743,GME,Nate
9,GME,683,GME,Nate
10,TSLA,922,TSLA,Elon
11,SPY,745,SPY,Josh
12,TSLA,367,TSLA,Elon
13,SPY,967,SPY,Josh
14,TSLA,411,TSLA,Elon
...,...,...,...,...
35,GME,700,GME,Nate
36,SPY,98,SPY,Josh
37,SPY,313,SPY,Josh
38,AMZN,768,AMZN,Dan
39,TSLA,832,TSLA,Elon
40,GME,435,GME,Nate
41,SPY,804,SPY,Josh
42,TSLA,841,TSLA,Elon
43,AMZN,388,AMZN,Dan
44,GME,898,GME,Nate
45,SPY,289,SPY,Josh
46,AMZN,240,AMZN,Dan
47,SPY,682,SPY,Josh
48,TSLA,637,TSLA,Elon
49,SPY,140,SPY,Josh

Notice that when the key columns have different names, both are kept. If you want keep only certain columns from the left or right Dataset, you can specify them with `columns_left` or `columns_right`.

In [11]:
ds.merge_lookup(ds_symbol_trader, left_on='Symbol', right_on='UnderlyingSymbol', 
                columns_right='Trader')

#,Symbol,Size,Trader
0,GME,760,Nate
1,SPY,195,Josh
2,TSLA,364,Elon
3,AMZN,467,Dan
4,AMZN,498,Dan
5,SPY,44,Josh
6,GME,547,Nate
7,TSLA,155,Elon
8,GME,743,Nate
9,GME,683,Nate
10,TSLA,922,Elon
11,SPY,745,Josh
12,TSLA,367,Elon
13,SPY,967,Josh
14,TSLA,411,Elon
...,...,...,...
35,GME,700,Nate
36,SPY,98,Josh
37,SPY,313,Josh
38,AMZN,768,Dan
39,TSLA,832,Elon
40,GME,435,Nate
41,SPY,804,Josh
42,TSLA,841,Elon
43,AMZN,388,Dan
44,GME,898,Nate
45,SPY,289,Josh
46,AMZN,240,Dan
47,SPY,682,Josh
48,TSLA,637,Elon
49,SPY,140,Josh

### Note: `merge_lookup()` Keeps Only the Keys in the Left Dataset

One thing to note about `merge_lookup()` is that it keeps only the keys are that are in the left Dataset (it's equivalent to a SQL left join). If there are keys in the right Dataset that aren't in the left Dataset, they're discarded in the merged data.

In [12]:
# Create a right Dataset with an extra symbol key ('MSFT').
ds_symbol_trader2 = rt.Dataset({'Symbol': ['GME', 'TSLA', 'SPY', 'AMZN', 'MSFT'], 
                           'Trader': ['Nate', 'Elon', 'Josh', 'Dan', 'Lauren']})
                           
# Change 'UnderlyingSymbol' back to 'Symbol' for simplicity.
ds_symbol_trader.col_rename('UnderlyingSymbol', 'Symbol')

ds.merge_lookup(ds_symbol_trader2, on='Symbol', columns_right='Trader')._A

<html><head><style>table.tbl-1683 tbody td{white-space: nowrap;}table.tbl-1683 .lc{font-weight:bold;background-color: var( --jp-rendermime-table-row-hover-background);}table.tbl-1683 .lg{background-color: #66da9940;}table.tbl-1683 .lp{font-weight:bold;background-color: #ac66da40;}table.tbl-1683 .msc{font-weight:normal;background-color:#00000011;}table.tbl-1683 .al{text-align:left;}table.tbl-1683 .ar{text-align:right;}table.tbl-1683 .ac{text-align:center;}table.tbl-1683 .bld{font-weight:bold;}table.tbl-1683 .it{font-style:italic;}table.tbl-1683 .ul{text-decoration:underline;}table.tbl-1683 .st{text-decoration:line-through;}</style></head><body><table class='tbl-1683'><thead><tr><td class='lc bld ar'> #</td><td class='lc bld al'>Symbol</td><td class='lc bld ar'>Size</td><td class='lc bld al'>Trader</td></tr></thead><tbody><tr><td class='lc  ar '>0</td><td class='  al '>GME</td><td class='  ar '>760</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>1</td><td class='  al '>SPY</td><td class='  ar '>195</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>2</td><td class='  al '>TSLA</td><td class='  ar '>364</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>3</td><td class='  al '>AMZN</td><td class='  ar '>467</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>4</td><td class='  al '>AMZN</td><td class='  ar '>498</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>5</td><td class='  al '>SPY</td><td class='  ar '>44</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>6</td><td class='  al '>GME</td><td class='  ar '>547</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>7</td><td class='  al '>TSLA</td><td class='  ar '>155</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>8</td><td class='  al '>GME</td><td class='  ar '>743</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>9</td><td class='  al '>GME</td><td class='  ar '>683</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>10</td><td class='  al '>TSLA</td><td class='  ar '>922</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>11</td><td class='  al '>SPY</td><td class='  ar '>745</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>12</td><td class='  al '>TSLA</td><td class='  ar '>367</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>13</td><td class='  al '>SPY</td><td class='  ar '>967</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>14</td><td class='  al '>TSLA</td><td class='  ar '>411</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>15</td><td class='  al '>SPY</td><td class='  ar '>326</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>16</td><td class='  al '>TSLA</td><td class='  ar '>905</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>17</td><td class='  al '>GME</td><td class='  ar '>371</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>18</td><td class='  al '>SPY</td><td class='  ar '>77</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>19</td><td class='  al '>AMZN</td><td class='  ar '>470</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>20</td><td class='  al '>TSLA</td><td class='  ar '>795</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>21</td><td class='  al '>AMZN</td><td class='  ar '>190</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>22</td><td class='  al '>GME</td><td class='  ar '>463</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>23</td><td class='  al '>SPY</td><td class='  ar '>130</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>24</td><td class='  al '>SPY</td><td class='  ar '>686</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>25</td><td class='  al '>TSLA</td><td class='  ar '>476</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>26</td><td class='  al '>AMZN</td><td class='  ar '>330</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>27</td><td class='  al '>SPY</td><td class='  ar '>227</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>28</td><td class='  al '>TSLA</td><td class='  ar '>564</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>29</td><td class='  al '>AMZN</td><td class='  ar '>670</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>30</td><td class='  al '>AMZN</td><td class='  ar '>940</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>31</td><td class='  al '>GME</td><td class='  ar '>437</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>32</td><td class='  al '>GME</td><td class='  ar '>161</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>33</td><td class='  al '>TSLA</td><td class='  ar '>832</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>34</td><td class='  al '>SPY</td><td class='  ar '>630</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>35</td><td class='  al '>GME</td><td class='  ar '>700</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>36</td><td class='  al '>SPY</td><td class='  ar '>98</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>37</td><td class='  al '>SPY</td><td class='  ar '>313</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>38</td><td class='  al '>AMZN</td><td class='  ar '>768</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>39</td><td class='  al '>TSLA</td><td class='  ar '>832</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>40</td><td class='  al '>GME</td><td class='  ar '>435</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>41</td><td class='  al '>SPY</td><td class='  ar '>804</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>42</td><td class='  al '>TSLA</td><td class='  ar '>841</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>43</td><td class='  al '>AMZN</td><td class='  ar '>388</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>44</td><td class='  al '>GME</td><td class='  ar '>898</td><td class='  al '>Nate</td></tr><tr><td class='lc  ar '>45</td><td class='  al '>SPY</td><td class='  ar '>289</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>46</td><td class='  al '>AMZN</td><td class='  ar '>240</td><td class='  al '>Dan</td></tr><tr><td class='lc  ar '>47</td><td class='  al '>SPY</td><td class='  ar '>682</td><td class='  al '>Josh</td></tr><tr><td class='lc  ar '>48</td><td class='  al '>TSLA</td><td class='  ar '>637</td><td class='  al '>Elon</td></tr><tr><td class='lc  ar '>49</td><td class='  al '>SPY</td><td class='  ar '>140</td><td class='  al '>Josh</td></tr></tbody></table></body></html>

[50 rows x 3 columns] total bytes: 900.0 B

The 'MSFT' key, which appears only in the right Dataset, is ignored.

### `merge_lookup()` with Overlapping Columns That Aren't Keys

As we saw above, if the two key columns have the same name in both Datasets, only one is kept. For columns that aren't used as keys, you'll get a name collision error when you try to merge.

In [13]:
try:
    rt.merge_lookup(ds, ds_symbol_trader, on='Symbol')
except ValueError as e:
    print("ValueError:", e)

If you want to keep both columns, add a suffix to each column name to disambiguate them.

In [14]:
# Add a Size column to the right Dataset
ds_symbol_trader.Size = rng.integers(1, 1000, 4)

rt.merge_lookup(ds, ds_symbol_trader, on='Symbol', suffixes=('_1', '_2'))

#,Symbol,Size_1,Trader,Size_2
0,GME,760,Nate,832
1,SPY,195,Josh,805
2,TSLA,364,Elon,200
3,AMZN,467,Dan,8
4,AMZN,498,Dan,8
5,SPY,44,Josh,805
6,GME,547,Nate,832
7,TSLA,155,Elon,200
8,GME,743,Nate,832
9,GME,683,Nate,832
10,TSLA,922,Elon,200
11,SPY,745,Josh,805
12,TSLA,367,Elon,200
13,SPY,967,Josh,805
14,TSLA,411,Elon,200
...,...,...,...,...
35,GME,700,Nate,832
36,SPY,98,Josh,805
37,SPY,313,Josh,805
38,AMZN,768,Dan,8
39,TSLA,832,Elon,200
40,GME,435,Nate,832
41,SPY,804,Josh,805
42,TSLA,841,Elon,200
43,AMZN,388,Dan,8
44,GME,898,Nate,832
45,SPY,289,Josh,805
46,AMZN,240,Dan,8
47,SPY,682,Josh,805
48,TSLA,637,Elon,200
49,SPY,140,Josh,805

### `merge_lookup()` with a Right Dataset That Has Duplicate Keys

If the right Dataset has more than one match for a unique key in the left Dataset, you can specify whether to use the first or the last match encountered in the right Dataset.

In [15]:
# Create a right Dataset with a second GME key, associated to Lauren
ds_symbol_trader3 = rt.Dataset({'Symbol': ['GME', 'TSLA', 'SPY', 'AMZN', 'GME'], 
                           'Trader': ['Nate', 'Elon', 'Josh', 'Dan', 'Lauren']})

ds_symbol_trader3

#,Symbol,Trader
0,GME,Nate
1,TSLA,Elon
2,SPY,Josh
3,AMZN,Dan
4,GME,Lauren

We'll keep the last match.

In [16]:
ds.merge_lookup(ds_symbol_trader3, on='Symbol', columns_right='Trader', keep='last')

#,Symbol,Size,Trader
0,GME,760,Lauren
1,SPY,195,Josh
2,TSLA,364,Elon
3,AMZN,467,Dan
4,AMZN,498,Dan
5,SPY,44,Josh
6,GME,547,Lauren
7,TSLA,155,Elon
8,GME,743,Lauren
9,GME,683,Lauren
10,TSLA,922,Elon
11,SPY,745,Josh
12,TSLA,367,Elon
13,SPY,967,Josh
14,TSLA,411,Elon
...,...,...,...
35,GME,700,Lauren
36,SPY,98,Josh
37,SPY,313,Josh
38,AMZN,768,Dan
39,TSLA,832,Elon
40,GME,435,Lauren
41,SPY,804,Josh
42,TSLA,841,Elon
43,AMZN,388,Dan
44,GME,898,Lauren
45,SPY,289,Josh
46,AMZN,240,Dan
47,SPY,682,Josh
48,TSLA,637,Elon
49,SPY,140,Josh

## `merge_asof()`

In a `merge_asof()`, Riptable matches on the nearest key rather than an equal key. 

This is useful for merges based on keys that are times, where the times in one Dataset are not an exact match for the times in another Dataset, but they're close enough to be used to merge the data. 

Note: To most efficiently find the nearest match, `merge_asof()` requires both key columns to be sorted. The key columns must also be numeric, such as a datetime, integer, or float. You can check whether a column is sorted with `issorted()`, or just sort it using `sort_inplace()`. (If the key columns aren't sorted, Riptable will give you an error when you try to merge.)

With `merge_asof()`, you need to specify how you want to find the closest match:
- `direction='forward'` matches based on the closest key in the right Dataset that's greater than the key in the left Dataset.
- `direction='backward'` matches based on the closest key in the right Dataset that's less than the key in the left Dataset.
- `direction='nearest'` matches based on the closest key in the right Dataset, regardless of whether it's greater than or less than the key in the left Dataset.

Let's see an example based on closest times. The left Dataset has three trades and their times. The right Dataset has spot prices and times that are not all exact matches. We'll merge the spot prices from the right Dataset by getting the values associated with the nearest earlier times.

In [17]:
# Left Dataset with trades and times
ds = rt.Dataset({'Symbol': ['AAPL', 'AMZN', 'AAPL'], 
                 'Venue': ['A', 'I', 'A'],
                 'Time': rt.TimeSpan(['09:30', '10:00', '10:20'])})

# Right Dataset with spot prices and nearby times
spot_ds = rt.Dataset({'Symbol': ['AMZN', 'AMZN', 'AMZN', 'AAPL', 'AAPL', 'AAPL'],
                      'Spot Price': [2000.0, 2025.0, 2030.0, 500.0, 510.0, 520.0],
                      'Time': rt.TimeSpan(['09:30', '10:00', '10:25', '09:25', '10:00', '10:21'])})

In [18]:
ds

#,Symbol,Venue,Time
0,AAPL,A,09:30:00.000000000
1,AMZN,I,10:00:00.000000000
2,AAPL,A,10:20:00.000000000

In [19]:
spot_ds

#,Symbol,Spot Price,Time
0,AMZN,"2,000.00",09:30:00.000000000
1,AMZN,"2,025.00",10:00:00.000000000
2,AMZN,"2,030.00",10:25:00.000000000
3,AAPL,500.00,09:25:00.000000000
4,AAPL,510.00,10:00:00.000000000
5,AAPL,520.00,10:21:00.000000000

But first, we need to make sure both Datasets are sorted by the key columns -- in this case, the Time columns. It looks like `ds` has sorted times, but `spot_ds` doesn't.

In [20]:
spot_ds.sort_inplace('Time')

#,Symbol,Spot Price,Time
0,AAPL,500.00,09:25:00.000000000
1,AMZN,"2,000.00",09:30:00.000000000
2,AMZN,"2,025.00",10:00:00.000000000
3,AAPL,510.00,10:00:00.000000000
4,AAPL,520.00,10:21:00.000000000
5,AMZN,"2,030.00",10:25:00.000000000

Now we can merge based on the nearest earlier time. But not just any nearest earlier time -- we want to make sure it's the nearest earlier time associated with the same symbol. We use the optional `by` parameter to make sure we match on the symbol before getting the nearest earlier time.

In [21]:
ds.merge_asof(spot_ds, on='Time', by='Symbol', direction='backward')

#,Time,Symbol,Venue,Spot Price
0,09:30:00.000000000,AAPL,A,500.00
1,10:00:00.000000000,AMZN,I,"2,025.00"
2,10:20:00.000000000,AAPL,A,510.00

We can see that both AAPL trades were matched based on the nearest earlier time.

Merge based on the nearest later time:

In [22]:
ds.merge_asof(spot_ds, on='Time', by='Symbol', direction='forward')

#,Time,Symbol,Venue,Spot Price
0,09:30:00.000000000,AAPL,A,510.00
1,10:00:00.000000000,AMZN,I,"2,025.00"
2,10:20:00.000000000,AAPL,A,520.00

Both AAPL trades were matched based on the nearest later time.

Here, we get the spot price associated with whatever time is nearest, whether it's earlier or later.

In [23]:
ds.merge_asof(spot_ds, on='Time', by='Symbol', direction='nearest')

#,Time,Symbol,Venue,Spot Price
0,09:30:00.000000000,AAPL,A,500.00
1,10:00:00.000000000,AMZN,I,"2,025.00"
2,10:20:00.000000000,AAPL,A,520.00

For the first AAPL trade, the nearest time is earlier. For the second AAPL trade, the nearest time is later.


We won't spend time on examples of `merge2()`, which is Riptable's more general merge function that does database-style joins (left, right, inner, outer). Check out the API Reference for details.

Next, we'll briefly cover a couple of ways to change the shape of your Dataset: [Reshape Data with Pivot and Transpose](tutorial_reshape.ipynb).

<br>
<br>

---

Questions or comments about this guide? Email RiptableDocumentation@sig.com.